tags/**
__pycache__
Include/**
Lib/**
Scripts/**
tcl/**
faceattendance.sublime-project
faceattendance.sublime-workspace
pip-selfcheck.json
*.swo
*.swp
*.swn
*.swm
*.pyc
coffee/**
static/scripts/ceveat.*
models/**
*.zip
images/**
docs/**